<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="account-form" th:fragment="account-form(actionUrl, actionBtn, show)">
    <form id="account-form" action="#" th:object="${accountData}"
          th:action="@{${actionUrl}}" method="post">
        <div class="row">
            <div class="col-md-4">
                <label th:if="${show}" for="userName" th:text="#{account.username}"><b>Username</b></label>
                <input id="userName" class="form-control" type="text" placeholder="Enter Username"
                       name="userName"
                       th:type="${show}? 'text' : 'hidden'"
                       th:field="*{userName}"/>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
                    Error
                </div>
            </div>
            <div class="col-md-4">
                <label th:if="${show}" for="passwd" th:text="#{account.password}"><b></b></label>
                <input id="passwd" class="form-control" type="password" placeholder="Enter Password"
                       name="passwd"
                       th:type="${show}? 'password' : 'hidden'"
                       th:field="*{password}"/>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                    Error
                </div>
            </div>
            <div class="col-md-4">
                <label th:if="${show}" for="passwdconf" th:text="#{account.password.confirm}"><b></b></label>
                <input id="passwdconf" class="form-control" type="password" placeholder="Repeat Password"
                       name="passwdconf"
                       th:type="${show}? 'password' : 'hidden'"
                       th:field="*{passwordConf}"/>
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('passwordConf')}" th:errors="*{passwordConf}">
                    Error
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label for="fname" th:text="#{account.firstname}"><b></b></label>
                <input id="fname" class="form-control" type="text" placeholder="Enter your first name"
                       name="fname"
                       th:field="*{firstname}"/>
            </div>
            <div class="col-md-6">
                <label for="lname" th:text="#{account.lastname}"><b></b></label>
                <input id="lname" class="form-control" type="text" placeholder="Enter your last name"
                       name="lname"
                       th:field="*{lastname}"/>
            </div>
        </div>
        <div class="mb-3">
            <label for="email" th:text="#{account.email}"><b></b></label>
            <input id="email" class="form-control" type="email" placeholder="Enter your Email" name="email"
                   th:field="*{email}"/>
            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                Error
            </div>
        </div >
        <div th:replace="~{fragments/credit-card-form :: credit-card-form}">Credit Card</div>

        <div>
            <button type="submit" class="btn btn-primary" name="register"
                    th:text="#{${actionBtn}}">Submit
            </button>
        </div>
    </form>
</div>
</body>
</html>
