<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="credit-card-form" th:fragment="credit-card-form">
    <div class="alert alert-danger" role="alert"
         th:if="${ccardErrors}"
         th:text="#{credit-card-errors}">
        Error
    </div>

    <p>
        <a data-toggle="collapse"
           href="#ccard"
           role="button" aria-expanded="false" aria-controls="ccard"
           th:text="#{account-credit-card-prompt}">
            Credit Card Information
        </a>
    </p>
    <div class="collapse" id="ccard">
        <div class="card card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="ccnumb" th:text="#{account.ccard.number}"><b>Card Number</b></label>
                    <input id="ccnumb" class="form-control" type="text" placeholder="Enter Number" name="ccnumb"
                           th:field="*{number}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">
                        Error
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="ccexpm" th:text="#{account.ccard.expmonth}"><b>Expiry Month</b></label>
                    <input id="ccexpm" class="form-control" type="number" placeholder="Expiry Month" name="ccexpm"
                           min="1" max="12"
                           th:field="*{expirationMonth}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('expirationMonth')}" th:errors="*{expirationMonth}">
                        Error
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="ccexpy" th:text="#{account.ccard.expyear}"><b>Expiry Year</b></label>
                    <input id="ccexpy" class="form-control" type="number" placeholder="Expiry Year" name="ccexpy"
                           min="2020" max="2050"
                           th:field="*{expirationYear}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('expirationYear')}" th:errors="*{expirationYear}">
                        Error
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ccfname" th:text="#{account.ccard.firstname}"><b>Holder Firstname</b></label>
                    <input id="ccfname" class="form-control" type="text" placeholder="Holder's Firstname"
                           name="ccfname"
                           th:field="*{accountFirstname}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('accountFirstname')}" th:errors="*{accountFirstname}">
                        Error
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="cclname" th:text="#{account.ccard.lastname}"><b>Holder Lastname</b></label>
                    <input id="cclname" class="form-control" type="text" placeholder="Holder's Lastname"
                           name="cclname"
                           th:field="*{accountLastname}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('accountLastname')}" th:errors="*{accountLastname}">
                        Error
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="ccstreet" th:text="#{account.ccard.address.street}"><b>Street</b></label>
                    <input id="ccstreet" class="form-control" type="text" placeholder="Street"
                           name="ccstreet" th:field="*{street}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('street')}" th:errors="*{street}">
                        Error
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="cccity" th:text="#{account.ccard.address.city}"><b>City</b></label>
                    <input id="cccity" class="form-control" type="text" placeholder="City" name="cccity"
                           th:field="*{city}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">
                        Error
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="cccountry" th:text="#{account.ccard.address.country}"><b>Country</b></label>
                    <input id="cccountry" class="form-control" type="text" placeholder="Country"
                           name="cccountry"
                           th:field="*{country}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">
                        Error
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="ccpcode" th:text="#{account.ccard.address.postalcode}"><b>Postal
                        Code</b></label>
                    <input id="ccpcode" class="form-control" type="text" placeholder="Postal Code"
                           name="ccpcode"
                           th:field="*{postalCode}"/>
                    <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}">
                        Error
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
