<!DOCTYPE html>
<html lang="en" >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="S. Some">
</head>
<body>
<div class="header" th:fragment="header">
        <div><img src="../../images/laptop" width="200pt" alt="Item"
                  th:src="@{/images/laptop.jpg}" /></div>
        <div><span id="title" th:text="#{title.application}">Auction System</span></div>
        <div><img src="../../images/toaster.jpg" width="200pt" alt="Item"
                  th:src="@{/images/toaster.jpg}" /></div>
</div>
</body>
</html>
