<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="author" content="S. Some">
</head>
<body>
	<div class="menu" th:fragment="menu">
		<form id="search-category-form" action="#" th:object="${searchRequest}"
			th:action="@{/search}" method="post">
			<table>
				<tbody>
					<tr>
						<td th:text="#{menu.search.category}">Category :</td>
						<td><input id="search-cat" type="text" th:field="*{category}" /></td>
<!--					</tr>-->
<!--					<tr>-->
						<td><input id="searchBtn" type="submit" th:value="#{menu.search.submit}" />
						</td>
					</tr>
				</tbody>
			</table>
		</form>
		<div style="align-self: flex-end" th:unless="${#authorization.expression('hasRole(''ROLE_USER'')')}">
			<!--			<form th:action="@{/login}" method="get">
                            <input type="submit" th:value="#{menu.signin}"/>
                        </form>-->
			<a href="../login.html"
			   id="sign-up-btn" type="button"
			   th:href="@{/register}"> Create Account</a></td>

			<a href="../login.html"
			   id="login-btn" type="button"
			   th:href="@{/login}"> Sign In</a></td>
		</div>
		<div style="align-self: flex-end" sec:authorize="isAuthenticated">
			<a href="../account.html"
			   id="account-btn" type="button"
			   th:href="@{/auth/account}"> View Account</a></td>

			<a href="logout.html"
			   id="logout-btn" type="button"
			   th:href="@{/logout}"> Sign Out</a></td>
		</div>
	</div>
</body>
</html>
