body {
    margin: 10px 150px 100px 80px;
}

.account-btn {
   background-color: darkblue;
    color: blanchedalmond;
}

.header {
    grid-area: header;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 400px;
    padding-right: 400px;
    justify-content: center;
}

.container, .container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.message {
    padding-left: 250px;
    padding-right: 250px;
    font-size: x-large;
    font-weight: bold;
    color: darkblue;
}

#title {
    background-color: rgb(255, 204, 153);
    font-style: italic;
    font-weight: bold;
    font-size:xx-large;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF;
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

