<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav class="nav flex-column">
                    <a class="nav-link account-btn" href="newAuction.html"
                       id="new-auction-btn" type="button"
                       th:href="@{/auth/newAuction}"> Create Auction</a>
                    <a class="nav-link account-btn" href="updateAccount.html"
                       id="update-btn" type="button"
                       th:href="@{/auth/updateAccount}"> Update Account</a>
                    <a class="nav-link account-btn" href="#"
                       id="deactivate-btn" type="button"
                       th:href="@{/auth/deactivateAccount}"> Deactivate Account</a>
                </nav>
            </div>
            <div class="col-md-9">
                <div class="container-fluid">
                    <div class="row" th:if="${deactivateAccountStatus == 'error'}">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <span th:text="#{account-deactivate-error-message}">Error</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                    </div>
                    <div class="row" th:if="${account.pendingPayment > 0.0}">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <span th:text="#{account-pending-payment-warning} + ${account.pendingPayment}">Error</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                    </div>
                    <div class="row" th:unless="${account.pendingPayment > 0.0}">
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <span th:text="#{account-no-pending-payment}">Error</span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div th:if="${account.auctions.isEmpty()}"  class="message">
                            <p th:utext="#{welcome.account.text.no.auctions}">Main</p>
                        </div>
                        <div th:unless="${account.auctions.isEmpty()}"  class="message">
                            <p th:utext="#{welcome.account.text}">Main</p>
                        </div>
                    </div>
                    <div class="row"
                         th:replace="~{fragments/auction-list :: auction-list(canselect='false', list=${account.auctions})}">
                        Auctions
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
