<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="S. Some">
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}" />
</head>
<body>
<div class="grid-container">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div th:replace="~{fragments/menu :: menu}">Menu</div>
    <div class="content">
        <div class="account-content">
            <div class="account-content-menu">
                <div>
                <a href="newAuction.html"
                   id="new-auction-btn" type="button"
                   th:href="@{/auth/newAuction}"> Create Auction</a>
                </div>
                <div>
                <a href="updateAccount.html"
                   id="update-btn" type="button"
                   th:href="@{/auth/updateAccount}"> Update Account</a>
                </div>
                <div>
                <a href="#"
                   id="deactivate-btn" type="button"
                   th:href="@{/auth/deactivateAccount}"> Deactivate Account</a>
                </div>
            </div>
            <div class="account-content-info">
                <div th:if="${account.pendingPayment > 0.0}">
                <p th:text="#{account-pending-payment-warning}"></p>
                </div>
                <table>
                    <tbody>
                    <tr th:each="auction : ${account.auctions}">
                        <td th:id="image-__${auction.id}__" >
                            <div><img src="../../images/laptop" width="100pt" alt="Item Image"
                                      th:src="@{'/auth/item/image/' + ${auction.id}}" /></div>
                        </td>
                        <td th:id="title-__${auction.id}__" th:text="${auction.itemTitle}">Title</td>
                        <td th:id="min-__${auction.id}__" th:text="${#numbers.formatCurrency(auction.currentMinBid)}">0</td>
                        <td th:id="end-__${auction.id}__" th:text="${#temporals.format(auction.endTime, 'dd-MMM-yyyy HH:mm')}"></td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
