<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="S. Some">
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}" />
</head>
<body>
<div class="grid-container">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div th:replace="~{fragments/menu :: menu}">Menu</div>
    <div class="content">
        <div class="auction-grid-container">
            <div class="item-image">
                <img src="../../images/laptop" width="250pt" alt="Image"
                     th:src="@{'/item/image/' + ${auction.id}}"/>
            </div>
            <div class="item-elements">
                <p>
                    <span th:text="${auction.itemTitle}">Title</span>
                </p>
                <p>
                    Minimum Bid: <span th:text="${#numbers.formatCurrency(auction.currentMinBid)}"></span>
                </p>
                <p>
                    Ends: <span th:text="${#temporals.format(auction.endTime, 'dd-MMM-yyyy HH:mm')}">Title</span>
                </p>
            </div>
            <div class="item-description">
                <textarea rows="5" cols="40" th:text="${auction.itemDescription}">
                    Description
                </textarea>
            </div>
            <div class="bid-area">
                <form id="search-category-form" action="#" th:object="${bidForm}"
                      th:action="@{/auth/placeBid}" method="post">
                <table>
                    <tbody>
                    <tr>
                        <td th:text="#{place-bid-amount}">Bid Amount :</td>
                        <td><input id="bid-amount" type="text" th:field="*{amount}" /></td>
                        <td><input id="bid-btn" type="submit" th:value="#{place-bid-button}"/></td>
                        <td><a href="browseAuctions.html"
                               id="back-btn" type="button"
                               th:href="@{/search}"> Continue</a></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>
            <div th:switch="${bidResult}">
                <p th:case="lowAmount">
                    <span th:text="#{low-bid-message}">Bid too loo</span>
                </p>
                <p th:case="error">
                    <span th:text="#{error-bid-message}">Error</span>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
