<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="S. Some" name="author">
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css} " th:rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragments/header :: header}">Header</div>
    <div th:replace="~{fragments/menu :: menu}">Menu</div>
    <div class="content">
        <div class="container">
            <div class="col" th:switch="${bidResult}">
                <div th:case="ok" class="alert alert-info alert-dismissible fade show">
                    <span th:text="#{bid-ok-message}">Bid fine</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:case="lowAmount" class="alert alert-danger alert-dismissible fade show">
                    <span th:text="#{low-bid-message}">Error Bid too low</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:case="seller-bid" class="alert alert-danger alert-dismissible fade show">
                    <span th:text="#{seller-bid-message}">Error Own bid</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div th:case="error" class="alert alert-danger alert-dismissible fade show">
                    <span th:text="#{error-bid-message}">Error</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="media mb-3">
                    <img alt="Image" class="mr-3" src="../../images/laptop"
                         th:src="@{'/item/image/' + ${auction.id}}"
                         width="250pt"/>
                    <div class="media-body">
                        <p>
                        <h4 class="mt-0"><span th:text="${auction.itemTitle}">Title</span></h4>
                        </p>
                        <p>
                            Minimum Bid: <span th:text="${#numbers.formatCurrency(auction.currentMinBid)}"></span>
                        </p>
                        <p>
                            Ends: <span
                                th:text="${#temporals.format(auction.endTime, 'dd-MMM-yyyy HH:mm')}">Title</span>
                        </p>

                        <div class="item-description">
                <textarea cols="60" rows="5" th:text="${auction.itemDescription}">
                    Description
                </textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <form action="#"
                      class="form-inline my-2 my-lg-0" id="bid-form" method="post"
                      th:action="@{/auth/placeBid}" th:object="${bidForm}">
                    <div class="form-group">
                        <label for="bid-amount" th:text="#{place-bid-amount}"></label>
                        <input class="form-control mx-sm-2" id="bid-amount"
                               th:field="*{amount}" type="text"/>
                    </div>
                    <button class="btn btn-outline-dark my-2 my-md-0" id="bid-btn" th:text="#{place-bid-button}"
                            type="submit">
                    </button>
                </form>
            </div>
            <div class="row">
            <a href="#"
                   id="back-btn" th:href="@{/search}"
                   th:text="#{auction-back-link}"
               type="button"> Continue</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
