<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
<div class="container-fluid">
    <div class="container-fluid">
        <div class="col">
        <div th:if="${auctions.isEmpty()}"  class="message">
            <p th:utext="#{browse.auctions.no.auctions}">Main</p>
        </div>
        </div>
        <div class="col">
        <div th:replace="~{fragments/auction-list :: auction-list(canselect='true', list=${auctions})}">Auctions</div>
        </div>
    </div>
</div>
</div>
</body>
</html>
