<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<!--    <meta charset="UTF-8">
    <meta name="author" content="S. Some">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}" />-->
</head>
<body>
<div layout:fragment="content">
<div class="container-fluid">
<!--    <div th:replace="~{fragments/header :: header}">Header</div>
    <div th:replace="~{fragments/menu :: menu}">Menu</div>-->
    <div class="container-fluid">
        <div class="col">
        <div th:if="${auctions.isEmpty()}"  class="message">
            <p th:utext="#{browse.auctions.no.auctions}">Main</p>
        </div>
        </div>
        <div class="col">
        <div th:replace="~{fragments/auction-list :: auction-list(canselect='true', list=${auctions})}">Auctions</div>
        </div>
    </div>
</div>
</div>
<!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
</body>
</html>
