<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
<div class="container-fluid">
    <div class="content">
        <div class="container">
            <div th:switch="${createAccountStatus}">
                <div th:case="ok" class="alert alert-info alert-dismissible fade show" role="alert">
                    <span th:text="#{account-create-ok-message}">Error</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>

                <div th:case="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span th:text="#{account-create-error-message}">Error</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
            </div>
            <div th:replace="~{fragments/account-form :: account-form(actionUrl='/register', actionBtn='account.register', show='true')}">
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
