<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<!--    <meta charset="UTF-8">
    <meta name="author" content="S. Some">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link href="../static/css/style.css" rel="stylesheet"
          th:href="@{/css/style.css}"/>-->
</head>
<body>
<div layout:fragment="content">
<div class="container-fluid">
<!--    <div th:replace="~{fragments/header :: header}">Header</div>
    <div th:replace="~{fragments/menu :: menu}">Menu</div>-->
    <div class="container">
        <div class="col" th:switch="${createAuctionStatus}">
            <div th:case="ok" class="alert alert-info alert-dismissible fade show">
                <span th:text="#{auction-create-ok-message}">Ok</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:case="error" class="alert alert-danger alert-dismissible fade show">
                <span th:text="#{auction-create-error-message}">Error</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:case="cc-error" class="alert alert-danger alert-dismissible fade show">
                <span th:text="#{error-no-cc-create-auction-message}">Error</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div th:case="pp-error" class="alert alert-danger alert-dismissible fade show">
                <span th:text="#{error-pp-create-auction-message}">Error</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="row">
            <form id="auction-form" action="#" th:object="${auctionData}"
                  th:action="@{/auth/createAuction}"
                  enctype="multipart/form-data" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="category" th:text="#{auction.category}"><b>Category</b></label>
                        <input id="category" class="form-control" type="text" placeholder="Enter Category of Auction"
                               name="category" th:field="*{category}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">
                            Error
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="auctitle" th:text="#{auction.item.title}"><b></b></label>
                        <input id="auctitle" class="form-control" type="text"
                               placeholder="Enter Title of Auctioned Item" name="auctitle" th:field="*{itemTitle}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('itemTitle')}" th:errors="*{itemTitle}">
                            Error
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group col-md-9">
                        <label for="description" th:text="#{auction.item.description}"><b></b></label>
                        <textarea id="description" class="form-control" rows="4" cols="60"
                                  placeholder="Enter description" name="description"
                                  th:field="*{itemDescription}"></textarea>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="imageF" th:text="#{auction.item.image}"><b></b></label>
                        <input id="imageF" class="form-control-file" type="file" name="imageF"
                               th:field="*{itemImageFile}"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="card card-group">
                    <div class="form-group col-md-3">
                        <label for="start" th:text="#{auction.startTime}"><b></b></label>
                        <input id="start" class="form-control" type="datetime-local"
                               placeholder="Enter starting time date" name="start" th:field="*{startTime}"/>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="duration" th:text="#{auction.duration}"><b></b></label>
                        <input id="duration" class="form-control" type="number" placeholder="Auction duration (Days)"
                               name="duration" th:field="*{duration}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">
                            Error
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="price" th:text="#{auction.start-price}"><b></b></label>
                        <input id="price" class="form-control" type="text" placeholder="Start price" name="price"
                               th:field="*{startPrice}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('startPrice')}" th:errors="*{startPrice}">
                            Error
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="priceIncr" th:text="#{auction.price-incr}"><b></b></label>
                        <input id="priceIncr" class="form-control" type="text" placeholder="Price increment"
                               name="priceIncr" th:field="*{minIncrement}"/>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('minIncrement')}" th:errors="*{minIncrement}">
                            Error
                        </div>
                    </div>
                    </div>
                </div>

                <div th:replace="~{fragments/credit-card-form :: credit-card-form}">Credit Card</div>

                <div>
                    <button type="submit" class="btn btn-primary" name="addAuction"
                            th:text="#{auction.create}">Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<!--<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
</body>
</html>
