<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
<div class="grid-container">
    <div class="content">
        <div class="container">
            <div th:replace="~{fragments/account-form :: account-form(actionUrl='/auth/updateAccount', actionBtn='account.update', show='false')}">
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>

